/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

.gradient-heading {
	@apply bg-gradient-to-r from-primary-500 to-secondary-500 box-decoration-clone bg-clip-text text-transparent;
}
